.App {
	text-align: center;
	background-color: #555;
	min-height: 100vh;
	margin: 0;
	color: white;
}

.App-Wrapper {
	width: 80%;
	margin: 0 auto;
}

.App a {
	color: white;
	text-decoration: none;
}

main {
	height: 100%;
}

.App h1 {
	margin: 0;
}
